<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-img [src]="image"></ion-img>
  </ion-item>
  <ion-list>
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input clearInput type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item lines="none" class='form-text error'
        *ngIf="!formLogin.controls.username.valid  && (formLogin.controls.username.dirty)">
        <p>Please enter a valid username.</p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item lines="none" class='form-text error'
        *ngIf="!formLogin.controls.password.valid  && (formLogin.controls.password.dirty)">
        <p>Please enter a valid password.</p>
      </ion-item>
    </form>
  </ion-list>
  
  <ion-button color="primary" (click)="loginUser()" [disabled]="!formLogin.valid">Login</ion-button>
  <ion-button color="secondary" (click)="registerUser()">Register</ion-button>
</ion-content>