<ion-header>
  <ion-toolbar>
    <ion-title>
      Classroom App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="myMenu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToLogin()">Log out</ion-item>
      <ion-item (click)="goToUserInfo()">My Account</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label class="ion-text-center">Slide For more options!</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="padButtons">
        <ion-col>
          <ion-button expand="full" (click)="getUser()">Show Classroom</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padButtons">
        <ion-col>
          <ion-button expand="full" (click)="goToMyReserve()">My Reserve</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>